<tr class="week-dayname-header">
  <th class="week-hours"></th>
  <% (0..6).each do |day| %>
    <th class="day-<%= day %>">
    <%= (day == 0 || day == 6) ? 
            Date::ABBR_DAYNAMES[day] : 
            Date::DAYNAMES[day] %>
    </th>
  <% end %>
</tr>
<tr class="week-dates">
  <th class="week-hours day-mon"><%= @date.beginning_of_week.strftime("%b") %></th>
  <% (@date.beginning_of_week..@date.end_of_week).each do |day| %>
    <th class="day-<%= day.wday %> day" data-date="<%= day.to_s %>">
      <% if day.mday == 1  and day.wday != 6 and day.wday != 0 %>
        <span class="day-mon">
          <%= day.strftime("%b") %>
        </span>
      <% end %>
      <span class="day-mday">
        <%= link_to day.mday, day_calendar_path(:date => day.to_s) %>
      </span>
    </th>
  <% end %>
</tr>