<tr class="viewport week-day-full">
    <td class="week-hours">
      <ul class="day-hours">
        <%= render :partial => 'calendars/timeline' %>
      </ul>
    </td>
    <% (@date.beginning_of_week..@date.end_of_week).each do |day| %>
    <td class="day day-<%= day.wday %>" data-date="<%= day.to_s %>">
      <div class="day-full collidable">
        <% get_deadlines(@events).select{ |e| e.starts_at.to_date == day }.each do |event| %>
          <%= render :partial => "events/event_deadline", :object => event %>
        <% end %>
        <% get_appointments(@events).select{ |e| e.starts_at.to_date == day }.each do |event| %>
          <%= render :partial => "events/event_appointment", :object => event %>
        <% end %>
      </div>
    </td>
    <% end %>
</tr>
