<table class="week week-rolling-header" id="week-header-<%= @date.year %>-<%= @date.cweek %>">
  <thead>
    <%= render :partial => 'weeks/dates_header' %>
  </thead>
</table>
<table class="week week-events" id="week-<%= @date.year %>-<%= @date.cweek %>">
  <tbody>
    <%= render :partial => 'weeks/allday' %>
    <%= render :partial => 'weeks/days_full' %>
  </tbody>
</table>
