<div id='login_form'>
  <p>
    <strong>Welcome to CaseHawk!</strong><br />
    Enter your username and password below to get started.<br />
    <%= link_to "Don't have an account?", new_user_session_path %>
  </p>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.hidden_field :account_id, :value => current_account.id %>

    <div class='form_field'>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class='form_field'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class='form_field'>
      <% if devise_mapping.rememberable? -%>
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      <% end -%>
    </div>

    <div class='form_field'>
      <label></label>
      <%= f.submit "Sign in" %>
    </div>
  <% end %>

  <p><%= render :partial => "devise/shared/links" %></p>
</div>
