<li class='contact'>
  <%= f.hidden_field :contact_id, :class => 'contact_id' %>

  <div class='role'>
    <%= f.label 'Role' %>

    <%= f.text_field :role, :placeholder => 'Role', :class => 'role small' %>
  </div>

  <div class='name'>
    <%= f.label 'Contact' %>

    <%= fields_for :contact do |builder| %>
      <%= builder.select :name, options_from_collection_for_select(current_user.contacts, 'id', 'name') %>
    <% end %>
  </div>
</li>
