<%= error_messages_for :user %>

<%= f.text_field :name %> <br />
<%= f.text_field :login %> <br />
<%= f.text_field :email %> <br />
<label>Password</label>
<%= f.password_field :password %> <br />
<label>Password again</label>
<%= f.password_field :password_confirmation %> <br />

<%= submit_or_cancel %>
