<li class="event_date">
  <span rel="<%= event.id %>" data-field-name="starts_at_date" id="event-starts_at_date-<%= event.id%>" class="event_starts_date editable_date editable"
    ><%= event.starts_at.to_date.to_s(:short_day_month_first) %></span>
</li>
<li class="event_time">
  Due at:
  <span rel="<%= event.id %>" class="event_starts_at editable_time editable" data-field-name="starts_at_time" id="event-starts_at_time-<%= event.id%>" data-field-value="<%= event.starts_at.to_s(:full_time) %>">
    <%= event.starts_at.to_s(:full_time) %>
  </span>
</li>
