<li class="event_date">
  <span  data-field-name="starts_at_date" id="event-starts_at_date-<%= event.id%>" class="event_starts_date editable_date">
    <%= event.starts_at.to_s(:Mdth) %>
  </span>
</li>
<li class="event_time">
  <span rel="<%= event.id %>" class="event_starts_at editable_time" data-field-name="starts_at_time" id="event-starts_at_time-<%= event.id%>" data-field-value="<%= event.starts_at.to_s(:full_time) %>" >
    <%= event.starts_at.to_s(:full_time) %>
  </span>
  <span class"event_time_separator">
    &#8211;
  </span>
  <span rel="<%= event.id %>" class="event_ends_at editable_time" data-field-name="ends_at_time" id="event-ends_at_time-<%= event.id%>" data-field-value="<%= event.ends_at.to_s(:full_time) %>" >
    <%= event.ends_at.to_s(:full_time) %>
  </span>
</li>
