<h4 class="event_type"><%= event.type %></h4>
<h3><%= event.name %></h3>
<ul>
  <% unless event.type == 'AllDay' %>
    <li class="event_time">
      <% if event.starts_at %>
        <%= event.completable? ? "Due at " : "" %>
        <span class="event_starts_at">
          <%= event.starts_at.to_s(:mdhm) %>
        </span>
      <% end %>
      <% if event.ends_at %>
        <% if event.starts_at %>
        <span class"event_time_separator">
          &#8212;
        </span>
        <% end %>
        <span class="event_ends_at">
          <%= event.ends_at.to_s(:simple) %>
        </span>
      <% end %>
    </li>
  <% end %>
  <% if event.location %>
    <li class="event_location">
      At <%= event.location.name %>
    </li>
  <% end %>
  <% if event.owner %>
    <li>
      <span class="event_owner">
        This event is for <%= event.owner.name %>,
      </span>
      <span class="event_reminder">
        who will <%= event.remind? ? "" : "not " %>be reminded.
      </span>
    </li>
  <% end %>
  <% if event.completable? %>
    <% if event.completed_at %>
      <li class="completable" title="On <%= event.completed_at.to_s(:mdth) + 
                                    " by " + event.completed_by.try(:name).to_s %>">
    <% else %>
      <li class="completable">
    <% end %>
    <%= check_box_tag event.id, '1', event.completed_at, :id => "event-complete-#{event.id}", :name => event.id %>
    Done!
  </li>
  <% end %>
  <li class="event_creator">
    Created by <%= event.creator.name %>
  </li>
</ul>