<li class="event_date">
  <span rel="<%= event.id %>" data-field-name="starts_at_date" id="event-starts_at_date-<%= event.id%>" class="event_starts_date editable editable_date"
    ><%= l(event.starts_at.to_date, :format => :short_day_month_first) %></span>
</li>
<li class="event_time editable_time editable">
  <span rel="<%= event.id %>" class="event_starts_at" data-field-name="starts_at_time" id="event-starts_at_time-<%= event.id%>" data-field-value="<%= l(event.starts_at, :format => :full_time) %>" >
    <%= l(event.starts_at, :format => :full_time) %>
  </span>
  <span class="event_time_separator">
    &#8211;
  </span>
  <span rel="<%= event.id %>" class="event_ends_at" data-field-name="ends_at_time" id="event-ends_at_time-<%= event.id%>" data-field-value="<%= l(event.ends_at, :format => :full_time) %>" 
    ><%= l(event.ends_at, :format => :full_time) %>
  </span>
</li>
