<%= error_messages_for :event %>
<div class="event_field event_field_name"><%= f.text_field :name %> </div>
<div class="event_field event_field_type"><%= f.select :type, event_types, {:selected => 'Appointment'}, :class => "new_event_type" %> </div>
<div class="event_field event_field_starts_at">
  <label for="event_starts_at">Starts at</label>
  <%= f.hidden_field :starts_at, :value => @date.to_s(:short_day_month_first) + " 12:00 PM" %>
  <div id="event_starts_at_datepicker" rel="start" class="event_starts_at editable_date" data-field-name="starts_at_date"><%= @date.to_s(:short_day_month_first) %></div>
  <div id="event_starts_at_timepicker" rel="start" class="event_starts_at editable_time" data-field-name="starts_at_time">12:00 PM</div> 
</div>
<div class="event_field event_field_ends_at">
  <label for="event_ends_at">Ends at</label>
  <%= f.hidden_field :ends_at, :value => @date.to_s(:short_day_month_first) + " 1:00 PM" %> 
  <div id="event_ends_at_datepicker" rel="end" class="event_ends_at editable_date" data-field-name="ends_at_date"><%= @date.to_s(:short_day_month_first) %></div>
  <div id="event_ends_at_timepicker" rel="end" class="event_ends_at editable_time" data-field-name="ends_at_time">1:00 PM</div> 
</div>
<div class="event_field event_field_remind"><%= f.check_box :remind %> </div>
<ul class="tags"></ul>
<div class="event_field event_field_tags"><%= f.text_field :tags %><span class="event_field_tags_add">Add</span></div>

<%= f.submit %>
