<div class="event-details <%= @event.type %>" id="event_details_<%= @event.id %>" data-event-id="<%= @event.id %>" data-event-type="<%= @event.type %>">
  <%= render :partial => "details", :locals => { :event => @event } %>
</div>
