<%= form_for @contact, :remote => true do |f| %>
  <fieldset>
    <%= f.label 'Name' %>

    <div class='name'>
      <%= f.text_field :first_name, :placeholder => 'First Name' %>
      <%= f.text_field :last_name, :placeholder => 'Last Name' %>
    </div>

    <%= f.label :comment, 'Comments' %>
    <%= f.text_area :comment, :rows => 5 %>
  </fieldset>

  <div class='actions'>
    <%= f.submit 'Save' %>
    <%= link_to 'Cancel', '#' %>
  </div>
<% end %>
