<div class="sidebar-tasks sidebar-block">
  <h2>Tasks</h2>
  <div class="content">
  <ul>
    <% get_tasks(events).each do |t| %>
      <li id="<%= t.id %>" data-event-id="<%= t.id %>" data-name="<%= t.name %>" 
        class="event task <%= t.completed_at ? "complete" : "incomplete" %>">
          <input id="event-complete-<%= t.id %>" name="task-complete-<%= t.id %>" type="checkbox" />
          <label class="event-title">
            <%= t.starts_at.to_date.to_s(:md) %>: <%= t.name %>
          </label>
          <div class="event-details detail_<%= t.id %>">
            <%= render :partial => "events/details", :locals => { :event => t } %>
      </li>
      
    <% end %>
  </ul>
  </div>
</div>
