<tr class="week-allday">
  <th>All Day</th>
  <% (date.beginning_of_week.yesterday..date.end_of_week.yesterday).each do |day| %>
  <td class="day-<%= day.wday %>">
    <ul class="alldays">
      <% events.select{ |e| e.starts_at.to_date == day }.each do |a| %>
        <li id="<%= a.id %>" data-event-id="<%= a.id %>" data-name="<%= a.name %>" class="event allday">
          <span class="event-title">
            <%= a.name %>
          </span>
          <div class="event-details details_<%= a.id %>">
            <%= render :partial => "events/details", :locals => { :event => a } %>
          </div>
        </li>
      <% end %>
    </ul>
  </td>
  <% end %>
</tr>