<tr class="week-day-full">
    <td class="week-hours">
      <ul>
        <%= render :partial => 'timeline' %>
      </ul>
    </td>
    <% (date.beginning_of_week.yesterday..date.end_of_week.yesterday).each do |day| %>
    <td class="day-<%= day.wday %>">
      <ul class="deadlines">
        <% deadlines.select{ |e| e.starts_at.to_date == day }.each do |d| %>
          <li id="<%= d.id %>" data-event-id="<%= d.id %>" data-name="<%= d.name %>" data-starts-at="<%= d.starts_at %>" class="event deadline">
            <span class="event-title">
              <%= d.starts_at.to_s(:simple) + ": " + d.name %>
            </span>
            <div class="event-details details_<%= d.id %>">
              <%= render :partial => "events/details", :locals => { :event => d } %>
            </div>
          </li>
        <% end %>
      </ul>

      <ul class="appointments">
        <% appointments.select{ |e| e.starts_at.to_date == day }.each do |a| %>          
          <li id="<%= a.id %>" data-event-id="<%= a.id %>" data-name="<%= a.name %>" data-starts-at="<%= a.starts_at %>" data-ends-at="<%= a.ends_at %>" class="event appointment">
            <span class="event-title">
              <%= a.name %>
            </span>
            <div class="event-details details_<%= a.id %>">
              <%= render :partial => "events/details", :locals => { :event => a } %>
            </div>
          </li>
        <% end %>
      </ul>
    </td>
    <% end %>  
</tr>
