<table class="week week-rolling-header" id="week-header-<%= date.year %>-<%= date.cweek %>">
  <thead>
    <%= render :partial => 'week_dates_header', 
                :locals => { :date => date } %>
  </thead>
</table>
<table class="week" id="week-<%= date.year %>-<%= date.cweek %>">
  <tbody>
    <%= render :partial => 'week_allday', 
                :locals => { :date => date, :events => get_all_days(events) } %>
    <%= render :partial => 'week_days_full',
                :locals => { :date => date, 
                              :deadlines => get_deadlines(events), 
                              :appointments => get_appointments(events) } %>
  </tbody>
</table>
