<tr class="viewport week-day-full">
    <td>
      <ul class="day-hours">
        <%= render :partial => 'timeline', :locals => { :date => date } %>
      </ul>
    </td>
    <% (date.beginning_of_week..date.end_of_week).each do |day| %>
    <td class="day day-<%= day.wday %>">
      <div class="day-full collidable">
        <ul class="day-deadlines">
          <% deadlines.select{ |e| e.starts_at.to_date == day }.each do |d| %>
            <li id="<%= d.id %>" data-event-id="<%= d.id %>" data-name="<%= d.name %>" data-starts-at="<%= d.starts_at %>" class="event event_completable deadline <%= d.completed_at ? "complete" : "incomplete" %>">
              <span class="event-title">
                <%= d.starts_at.to_s(:simple) + ": " + d.name %>
              </span>
              <div class="event-details details_<%= d.id %>">
                <%= render :partial => "events/details", :locals => { :event => d } %>
              </div>
            </li>
          <% end %>
        </ul>
        <ul class="day-appointments">
          <% appointments.select{ |e| e.starts_at.to_date == day }.each do |a| %>
            <li id="<%= a.id %>" data-event-id="<%= a.id %>" data-name="<%= a.name %>" data-starts-at="<%= a.starts_at %>" data-ends-at="<%= a.ends_at %>" class="event appointment">
              <span class="event-title">
                <%= a.name %>
              </span>
              <div class="event-details details_<%= a.id %>">
                <%= render :partial => "events/details", :locals => { :event => a } %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </td>
    <% end %>  
</tr>
