<% content_for :head do %>
  <%= stylesheet_link_tag 'calendar-day' %>
  <%= stylesheet_link_tag 'event-details' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'mini_cal', 
              :locals => { :date => @date }
  %>
  <%= render :partial => 'events/new_form' %>
  <%= render :partial => 'task_list',
              :locals => { :events => @events }
  %>
<% end %>
<%
  next_day = @date + 1; 
  prev_day = @date - 1; 
%>
<div id="day" class="day" data-date="<%= @day.to_s %>">
  <div class="day-top">
    <h3 class="week-link"><a href="/calendar">Week View</a></h3>
    <h2><%= @date.to_s(:long_day_month_first) %></h2>
    <h3 class="gutter">All Day</h3>
    <div class="day-top-allday">
      <ul class="day-allday">
        <% get_all_days(@events).
            each do |event| %>
              <%= render :partial => "events/event_allday", :locals => { :event => event } %>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="viewport">
    <ul class="day-hours">
      <%= render :partial => 'timeline', :locals => { :date => @date } %>
    </ul>
    <div class="day-full">
      <ul class="day-deadlines deadlines collidable">
        <% get_deadlines(@events).
            each do |event| %>
              <%= render :partial => "events/event_deadline", :locals => { :event => event } %>
        <% end %>
      </ul>
      <ul class="day-appointments appointments collidable">
        <% get_appointments(@events).
            each do |event| %>
              <%= render :partial => "events/event_appointment", :locals => { :event => event } %>
        <% end %>
      </ul>
    </div>
  </div>
  <br class="clear" />
</div>  