<% content_for :head do %>
  <%= stylesheet_link_tag 'calendar-day' %>
  <%= stylesheet_link_tag 'event-details' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'mini_cal', 
              :locals => { :date => @date }
  %>
  <%= render :partial => 'events/new_form' %>
<% end %>
<div id="day" class="day" data-date="<%= @date.to_s %>">
  <div class="day-top">
    <h3 class="week-link"><a href="/calendar">Week View</a></h3>
    <h2><%= @date.to_s(:long_day_month_first) %></h2>
    <h3 class="gutter">All Day</h3>
    <div class="day-top-inner">
      <ul class="day-tasks tasks">
        <%= render :partial => "events/event", :collection => get_tasks(@events) %>
      </ul>
      <ul class="day-alldays alldays">
        <%= render :partial => "events/event", :collection => get_all_days(@events) %>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="viewport">
    <ul class="day-hours">
      <%= render :partial => 'timeline' %>
    </ul>
    <div class="day-full">
      <ul class="day-deadlines deadlines collidable">
        <%= render :partial => "events/event", :collection => get_deadlines(@events) %>
      </ul>
      <ul class="day-appointments appointments collidable">
        <%= render :partial => "events/event", :collection => get_appointments(@events) %>
      </ul>
    </div>
  </div>
  <br class="clear" />
</div>  