<% content_for :head do %>
  <%= stylesheet_link_tag 'calendar-day' %>
  <%= stylesheet_link_tag 'calendar-week' %>
  <%= stylesheet_link_tag 'event-details' %>
<% end %>

<% content_for :sidebar_nav do %>
  <ul>
    <li><a data-section='calendar' class='selected' href="#">Calendar</a></li>
    <li><a data-section='contacts' href="#">Contacts</a></li>
    <li><a data-section='cases' href="#">Cases</a></li>
  </ul>
<% end %>

<% content_for :sidebar do %>
  <div data-section='calendar' class='section'>
    <%= render :partial => 'cal_search' %>
    <%= render :partial => 'mini_cal' %>
    <%= render :partial => 'events/new_form' %>
  </div>

  <div data-section='contacts' class='section hidden'>
    <div class='sidebar_block'>
      <h3>Your contacts</h3>

      <%= link_to 'Add contact', new_contact_path, :class => 'add-contact' %>
    </div>

    <div class='sidebar_block'>
      <ul>
        <% current_user.contacts.each do |contact| %>
          <li><%= contact.first_name %> <%= contact.last_name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div data-section='cases' class='section hidden'>
    <p>This would show cases.</p>
  </div>
<% end %>

<div id="week">
  <div id="weeks" data-first-week="<%= l(@date, :format => :us_long_year) %>">
    <div id="weeks-buffer"></div>
  </div>
  <div id="week-loading"></div>
</div>
