<% content_for :head do %>
  <%= stylesheet_link_tag 'calendar-day' %>
  <%= stylesheet_link_tag 'calendar-week' %>
  <%= stylesheet_link_tag 'event-details' %>
<% end %>

<% content_for :sidebar_nav do %>
  <ul>
    <li><a data-section='calendar' class='selected' href="#">Calendar</a></li>
    <li><a data-section='contacts' href="#">Contacts</a></li>
    <li><a data-section='cases' href="#">Cases</a></li>
  </ul>
<% end %>

<% content_for :sidebar do %>
  <div class='section calendar'>
    <%= render :partial => 'cal_search' %>
    <%= render :partial => 'mini_cal' %>
    <%= render :partial => 'events/new_form' %>
  </div>

  <div class='section contacts hidden'>
    <div class='sidebar_block'>
      <form>
        <div class='form_field search_field_tag'>
          <label for='search_tag' class='search_field_tag'>Search</label>
          <input type='text' value='' size='30' placeholder='Start typing to search contacts...' autocomplete='OFF'>
        </div>
      </form>
    </div>
    <div class='sidebar_block'>
      <ul class='contacts'>
        <% current_user.recent_contacts.each do |contact| %>
          <li><%= link_to contact.name, edit_contact_path(contact) %></li>
        <% end %>
      </ul>
    </div>

    <%= link_to 'Add contact', new_contact_path, :class => 'add-contact' %>
  </div>

  <div class='section cases hidden'>
    <p>This would show cases.</p>
  </div>
<% end %>

<div id="week">
  <div id="weeks" data-first-week="<%= l(@date, :format => :us_long_year) %>">
    <div id="weeks-buffer"></div>
  </div>
  <div id="week-loading"></div>
</div>
