<% content_for :head do %>
  <%= stylesheet_link_tag 'calendar-day' %>
  <%= stylesheet_link_tag 'event-details' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'events/new_form' %>
  <%= render :partial => 'task_list',
              :locals => { :events => @events }
  %>
<% end %>
<%
  next_day = @date + 1; 
  prev_day = @date - 1; 
%>
<a id="day-prev" class="day-nav prev" href="/calendars/show?date=<%= prev_day.to_s(:us_long_year) %>">&laquo; <%= prev_day.to_s(:short_day_month_first) %></a>
<a id="day-next" class="day-nav next" href="/calendars/show?date=<%= next_day.to_s(:us_long_year) %>"><%= next_day.to_s(:short_day_month_first) %> &raquo;</a>
<h2 class="day-date"><%= @date.to_s(:long_day_month_first) %></h2>
<div id="day" class="day" data-date="<%= @day.to_s %>">
  <div class="day-top">
    <h3 class="gutter">All Day</h3>
    <div class="day-top-allday">
      <ul class="day-allday">
        <% get_all_days(@events).
            each do |event| %>
          <li id="<%= event.id %>" data-event-id="<%= event.id %>" data-name="<%= event.name %>" class="event allday">
            <span class="event-title">
              <%= event.name %>
            </span>
            <div class="event-details details_<%= event.id %>">
               <%= render :partial => "events/details", :locals => { :event => event } %>
             </div>
          </li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="viewport">
    <ul class="day-hours">
      <%= render :partial => 'timeline' %>
    </ul>
    <div class="day-full">
      <ul class="day-deadlines deadlines">
        <% get_deadlines(@events).
            each do |event| %>
            <li id="<%= event.id %>" data-event-id="<%= event.id %>" data-name="<%= event.name %>" data-starts-at="<%= event.starts_at %>" data-ends-at="<%= event.ends_at %>" class="event event_completable deadline <%= event.completed_at ? "complete" : "incomplete" %>">
              <%= check_box_tag event.id, '1', event.completed_at, :id => "event-complete-#{event.id}", :class => 'task', :name => event.id %>
              <label class="event-title">
                <%= event.starts_at.to_s(:simple) %> <%= event.name %>
              </label>
              <div class="event-details details_<%= event.id %>">
                 <%= render :partial => "events/details", :locals => { :event => event } %>
               </div>
            </li>
        <% end %>
      </ul>
      <ul class="day-appointments appointments">
        <% get_appointments(@events).
            each do |event| %>
            <li id="<%= event.id %>" data-event-id="<%= event.id %>" data-name="<%= event.name %>" data-starts-at="<%= event.starts_at %>" data-ends-at="<%= event.ends_at %>" class="event appointment"> 
              <span class="event-title">
                <%= event.starts_at.to_s(:simple) %> &ndash; <%= event.ends_at.to_s(:simple) %> <%= event.name %>
              </span>
              <div class="event-details details_<%= event.id %>">
                 <%= render :partial => "events/details", :locals => { :event => event } %>
               </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <br class="clear" />
</div>  