<% content_for :head do %>
  <%= stylesheet_link_tag 'calendar-day' %>
  <%= stylesheet_link_tag 'calendar-week' %>
  <%= stylesheet_link_tag 'event-details' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'mini_cal' %>
  <%= render :partial => 'events/new_form' %>
  <%= render :partial => 'task_list',
              :locals => { :events => @events }
  %>
<% end %>

<div id="week">
  <div id="week-headers">
    <%= render :partial => 'dayname_header' %>
  </div>
  <div id="all_weeks">
    <%= render :partial => 'week', 
                :locals => { :date => @date - 1.week, 
                             :events => @events } %>
    <%= render :partial => 'week', 
                :locals => { :date => @date, 
                             :events => @events } %>
    <%= render :partial => 'week', 
                :locals => { :date => @date + 1.week, 
                             :events => @events } %>
  </div>
</div>