<% content_for :head do %>
  <%= stylesheet_link_tag 'calendar-day' %>
  <%= stylesheet_link_tag 'calendar-week' %>
  <%= stylesheet_link_tag 'event-details' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'mini_cal' %>
  <%= render :partial => 'events/new_form' %>
<% end %>

<div id="week">
  <div id="week-headers">
    <%= render :partial => 'dayname_header' %>
  </div>
  <div id="all_weeks">
  </div>
  <div id="week-loading"></div>
</div>