<% content_for :head do %>
  <%= stylesheet_tag 'calendar-day', {} %>
<% end %>

<h2>Calendar: <%= @date.to_s %></h2>
<div id="<%= @day.to_s %>" class="day">
  <div class="day-top">
    <div class="day-top-tasks">
      <h3>Tasks</h3>
      <ul>
        <% get_tasks(@events).
            each do |event| %>
            
          <li id="event-<%= event.id %>" data-event-id="<%= event.id %>" data-name="<%= event.name %>" 
            class="event task <%= event.completed_at ? "complete" : "incomplete" %>">
            <label>
              <input id="event-complete-<%= event.id %>" name="task-complete-<%= event.id %>" type="checkbox" />
              <%= event.name %>
            </label>
          </li>
          
        <% end %>
      </ul>
    </div>
    <div class="day-top-allday">
      <h3>All-Day Events</h3>
      <ul class="day-allday">
        <% get_all_days(@events).
            each do |event| %>
            
          <li id="event-<%= event.id %>" data-event-id="<%= event.id %>" data-name="<%= event.name %>" class="event allday">
            <%= event.name %>
          </li>
          
        <% end %>
      </ul>
    </div>    
  </div>
  <ul class="day-hours">
    <% ['am', 'pm'].each do |meridian| %>
      <% (1..12).each do |n| %>
        <li><%= n %>:00<%= meridian %></li>
      <% end %>
    <% end %>
  </ul>
  <div class="day-full">
    <ul class="day-deadlines">
      <% get_deadlines(@events).
          each do |event| %>
          <li id="event-<%= event.id %>" data-event-id="<%= event.id %>" data-name="<%= event.name %>" 
            class="event deadline <%= event.completed_at ? "complete" : "incomplete" %>">
            <label>
              <input id="event-complete-<%= event.id %>" name="deadline-complete-<%= event.id %>" type="checkbox" />
              <%= event.start_time.to_s(:simple) %>&ndash;<%= event.end_time.to_s(:simple) %> <%= event.name %>
            </label>
          </li>
      <% end %>
    </ul>
    <ul class="day-appointments">
      <% get_appointments(@events).
          each do |event| %>
          <li id="event-<%= event.id %>" data-event-id="<%= event.id %>" data-name="<%= event.name %>" class="event appointment"> 
            <%= event.start_time.to_s(:simple) %>&ndash;<%= event.end_time.to_s(:simple) %> <%= event.name %>
          </li>
      <% end %>
    </ul>
  </div>
  <br class="clear" />
</div>  