<% content_for :head do %>
  <%= stylesheet_link_tag 'calendar-day' %>
  <%= stylesheet_link_tag 'calendar-week' %>
  <%= stylesheet_link_tag 'event-details' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'cal_search' %>
  <%= render :partial => 'mini_cal' %>
  <%= render :partial => 'events/new_form' %>
<% end %>

<div id="week">
  <div id="weeks" data-first-week="<%= @date.to_s(:us_long_year) %>">
    <div id="weeks-buffer"></div>
  </div>
  <div id="week-loading"></div>
</div>
