<% content_for :head do %>
  <%= stylesheet_link_tag 'calendar-day' %>
  <%= stylesheet_link_tag 'calendar-week' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'events/new_form' %>
  <%= render :partial => 'task_list',
              :locals => { :events => @events }
  %>
<% end %>

<h2>Calendar: <%= @date.to_s %></h2>

<%= render :partial => 'dayname_header' %>
<div id="all_weeks">
  <%= render :partial => 'week', 
              :locals => { :date => @date, 
                           :events => @events } %>
</div>