<% content_for :menu do %>
  <%= render :partial => 'shared/nav' %>
<% end %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="google-site-verification" content="9kqlfyj42SDodmZ2tGuHa0WxZeFRIWKSmGbNii1QFw4" />    
    <title><%= @page_title ? "#{@page_title} | #{app_name}" : app_name %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'reset-fonts.css', 'application.css', 
                            'event-search.css',
                            'reveal.css',
                            'ui-lightness/jquery-ui-1.9.0.custom.min.css', 
                            'jquery-ui-tweaks.css',
                            'ui.slider.extras.css',
                            'event-search' 
    %>
		<%= yield :head %>
  </head>
  <body>
    <div id="header">
      <div id="user-menu">
        <%= yield :user_menu %>
      </div>
      <h1>CaseHawk</h1>
      <div id="nav"> 
        <%= yield :menu %>
      </div>
    </div>
    <div id="page">
      <div id="content">
        <div id="main">
          <%= yield %>
        </div>

        <div id="sidebar-nav">
          <%= yield :sidebar_nav %>
        </div>

        <div id="sidebar">
          <% if flash[:notice] || flash[:error] %>
            <div id="notices" class="sidebar_block">
              <%= flash_notices %>
            </div>
          <% end %>

          <%= yield :sidebar %>
          
          <p class="copyright">
            Copyright &copy; 2006 &ndash; <%= l(Date.today, :format => :year) %> <a href="http://lawfortress.com">CaseHawk by Lawfortress LLC</a>            
          </p>
        </div>
        <div class="something">
          
        </div>        
      </div>
    </div>

    <div id="event-modal" class="reveal-modal">
      <a class="close-reveal-modal">&#215;</a>
    
      <div class='content'></div>
    </div>

    <%= javascript_include_tag 'vendor/jquery-1.7.1.min',
                               'vendor/jquery.reveal',
                               'vendor/jquery.jeditable.min',
                               'vendor/jquery-ui-1.9.0.custom.min',
                               'vendor/jquery.timepicker',
                               'vendor/jquery.form_prompt',
                               'vendor/jquery.jeditable.timepicker',
                               'vendor/jquery.pageless',
                               'vendor/jquery.jeditable.datepicker',
                               'vendor/jquery.selecttouislider',
                               'vendor/yui_datemath',
                               'vendor/strftime-min',
                               'application',
                               'event',
                               'day',
                               'week',
                               'calendar',
                               'new_event_form',
                               'calendar_interface',
                               'search' %>
  </body>
</html>
